html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background: linear-gradient(to bottom, #9dc599c4, #92c3661f);
}

/* nav section */
nav {
  width: 100%;
  position: fixed; /* Keeps it fixed at the top */
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  z-index: 1000; /* Ensures it stays above other content */
}

.devo {
  color: #440a0ae5;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffe76dce;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  border-bottom: 2px solid #9dc599;
}

/* Section Layout */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(to bottom, #9dc599c4, #92c3661f);
  flex-wrap: wrap;
  padding: 30px 20px;
  .header {
    margin-top: 80px; /* Adjust based on nav height */
  }
}

/* Left Content */
.content {
  flex: 1;
  padding-right: 50px;
  margin: 20px;
}

.content h1 {
  font-size: 2.5rem;
  padding-bottom: 15px;
  color: #2f3b1c;
}

.content p {
  font-size: 1.2rem;
  color: #4f5d2f;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #8b6f4d;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  background: #92ce80;
  color: #2f3b1c;
  transition: background 0.3s ease-in-out;
}

/* Right Image */
.image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-right: 100px;
}

/* Category Buttons */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  display: flex;
  align-items: center;
  background: #8b6f4d;
  color: white;
  padding: 10px 15px;
  margin-left: -50px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.category i {
  margin-right: 8px;
}
.category:hover {
  background: #92ce80;
  color: #2f3b1c;
  transition: background 0.3s ease-in-out;
}
